<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><!--

############################################################
Pyndorama - Educational game creation
############################################################

:Author: *Carlo E. T. Oliveira*
:Contact: carlo@nce.ufrj.br
:Date: 2013/07/16
:Status: This is a "work in progress"
:Revision: 0.1.0
:Home: `Labase <http://labase.selfip.org/>`__
:Copyright: 2013, `GPL <http://is.gd/3Udt>`__.
-->
<html>
    <head>
        <meta charset="iso-8859-1">
        <title>Pyndorama</title>
        <meta http-equiv="content-type" content="application/xml;charset=utf-8" />
    </head>
    <body onLoad="brython(1)">

<h1>Battle of the Aegates Islands</h1>
<p></p><h2>Prelude</h2>

<p>The years preceding the battle were relatively quiet within the
First Punic War. Rome lacked a fleet - the ships it had possessed at
the beginning of the war had been largely destroyed in the
<a href="http://en.wikipedia.org/wiki/Battle_of_Drepana">Battle of Drepana</a>
and in the storm that followed. However, Carthage took little advantage
of this situation. Hostilities between Roman and Carthaginian forces
gradually stalled, becoming concentrated in small-scale land operations
in Sicily. The Carthaginian general
<a href="http://en.wikipedia.org/wiki/Hamilcar_Barca">Hamilcar Barca</a>
was slow to build on his advantage on the island and, probably as a result,
from 242 BC Rome eventually decided to build another fleet and
regain naval supremacy.</p>

<p>This resolution notwithstanding, after 20 years of war the finances of
the Republic were in a calamitous state and the treasury was empty.
A popular movement was formed to counter this difficulty
in a typically Roman manner: wealthy citizens, either alone or in groups,
decided to show their
<a href="http://en.wikipedia.org/wiki/Patriotism">patriotism</a>
and finance the construction of one ship apiece. The result was a fleet of
approximately 200
<a href="http://en.wikipedia.org/wiki/Quinquereme">quinqueremes</a>,
built, equipped, and crewed without government expense.</p>

<p>The new fleet was completed in 242 BC and entrusted to the
<a href="http://en.wikipedia.org/wiki/Consul">consul</a>
<a href="http://en.wikipedia.org/wiki/Gaius_Lutatius_Catulus">Gaius Lutatius Catulus</a>,
assisted by the <a href="http://en.wikipedia.org/wiki/Praetor">praetor</a>
<a href="http://en.wikipedia.org/wiki/Valerius">Quintus Valerius Falto</a>.
The reversals of fortune and difficulties suffered in past naval defeats
provided invaluable acquired experience. The Roman ships were now more
resistant to adverse weather conditions, with the <em>
<a href="http://en.wikipedia.org/wiki/Corvus_%28weapon%29">corvus</a></em>
having been abandoned. Catulus and Falto also endeavoured to drill the crews
in manoeuvres and exercises before leaving secure waters. The result was a
fleet at the peak of condition and fighting ability.</p>

<p>In Carthage, meanwhile, the news of enemy activity was not left unanswered.
A new Carthaginian fleet was also built, numbering about 250 warships
(although probably undermanned), and launched in the Mediterranean under
the command of Hanno (the general defeated at
<a href="http://en.wikipedia.org/wiki/Battle_of_Agrigentum">Agrigentum</a>
and <a href="http://en.wikipedia.org/wiki/Battle_of_Cape_Ecnomus">Cape Ecnomus</a>)
</p><p></p>
    </body>
</html>
